:root {
    --gray: #524D4A;
    --dGray: #3B3A39;
    --white: #FFF4D7;
    --lPurple: #93005C;
    --purple: #540035;
    --lGreen: #004631;
    --green: #004631;
    --dGreen: #00251A;
}

body {
    background-color: var(--gray);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
      color: var(--white);
  }

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    background-color: var(--green);
}
.nav h2 {
    font-size: 2em;
}
.nav a {
    color: var(--white);
}
header h1 {
    font-size: 6em;
    display: flex;
    justify-content: center;
    color: var(--white);
}
header p {
    display: flex;
    justify-content: center;
    color: var(--white);
}

